{% extends 'main_template.html' %}

{% block style %}<link rel="stylesheet" href="static/css/score.css">{% endblock %}

{% block title %}Таблиця результатів{% endblock %}

{% block content %}
<div class="wrapper">
    <form action="/download_sheet" method="post">
        <h5>{{ clear_topic }}</h5>
        <div class="button_right"><input type="submit" value="Завантажити exel таблицю" class="btn btn-primary"></div>
        <input type="hidden" value="{{topic}}" name="topic">
    </form>
    <form action="/deletion_confirmation" method="post">
        <div class="button_right"><input type="submit" value="RESET" class="btn btn-danger"></div>
        <input type="hidden" value="{{topic}}" name="topic">
    </form>
    <p></p>
    <div class="row">
        <div class="col">Прізвище та Імя</div>
        <div class="col">Група</div>
        <div class="col">Результат</div>
        <div class="col">Завершено тест</div>
        <div class="w-100"></div>
        <p></p>
        <hr>
    </div>
    {% for user in users %}
        <div class="row">
            <div class="col">{{ user[1] }} <p></p></div>
            <div class="col">{{ user[2] }}</div>
            <div class="col">{{ user[3] }}%</div>
            <div class="col">{{ user[4] }}</div>
            <div class="w-100"></div>
        </div>
    {% endfor %}
</div>
{% endblock %}