.wrapper {
margin-top: 5%;
width: 50%;
margin-right: auto;
margin-left: auto;
}

.col-sm-5 {
height: 220px;
border: solid;
margin: 20px 10px;
}

h5 {
text-align: center;
}

.button_centre {
text-align: center;
margin-top: 15px;
}

.close_topic {
display: inline;
color: red;
}

.open_topic {
color: green;
display: inline;
}

@media screen and (max-width: 750px) {
    .wrapper{
      padding-right: 5%;
      padding-left: 5%;
      width: 80%;
    }
}