* {
 padding-top: 3px;
 padding-bottom: 3px
}

.custom_container{
  width: 100%;
  padding-right: 25%;
  padding-left: 25%;
  margin-right: auto;
  margin-left: auto;
}

.highlight_text {
 color: orange;
 display: inline;
}

h5 {
text-align: center;
}

h3 {
text-align: center;
}

.button_centre {
text-align: center;
}

.chosen_topic {
font-size: 28px;
font-weight: bold;
text-align: center;
}

@media screen and (max-width: 750px) {
    .custom_container{
      padding-right: 0%;
      padding-left: 0%;
    }
}