.wrapper {
margin-top: 5%;
width: 50%;
margin-right: auto;
margin-left: auto;
}

.col-sm-5 {
height: max-content;
background-color: azure;
margin: 20px 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.topic_ {
font-weight: bold;
text-shadow: 10px;
font-size: 18px;
}

.button_centre {
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}

.close_topic {
display: inline;
color: red;
}

.open_topic {
color: green;
display: inline;
}

@media screen and (max-width: 576px) {
  .wrapper{
    padding-right: 5%;
    padding-left: 5%;
    width: 80%;
  }
}

@media screen and (max-width: 1300px) {
  .wrapper{
    padding-right: 6%;
    padding-left: 6%;
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  .wrapper{
    padding-right: 7%;
    padding-left: 7%;
    width: 80%;
  }
}