{% extends 'main_template.html' %}

{% block style %}<link rel="stylesheet" href="static/css/create_test.css">{% endblock %}

{% block title %}Новий тест{% endblock %}

{% block content %}
<div class="custom_container">
    <form action="{{ url_for('save_test') }}" method="post" enctype="multipart/form-data">
        <div class="chosen_topic">Ви створюєте запитання до теми <div class="highlight_text">{{ current_topic }}</div></div>
        <input type="hidden" name="topic_test" value="{{ current_topic }}" >
        <h5>Запитання №1</h5>
        <div class="row align-items-center">
            <div class="col-sm-7"><input name="question_1" type="text" required class="form-control"></div>
            <div class="col-sm-5"><input type="file" id="q_image_1" name="q_image_1" accept=".jpg, .jpeg, .png" class="form-control"></div>
        </div>
        <h5>Відповіді</h5>
        <div class="row align-items-center">
            <div class="col-sm-7"><input name="answer_1_1" type="text" class="form-control" required></div>
            <div class="col-sm-4"><input type="file" id="image_1_1" name="image_1_1" accept=".jpg, .jpeg, .png" class="form-control"></div>
            <div class="col-sm-1"><input name="radio_1" value="1" type="radio" class="form-check-input mt-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-7"><input name="answer_1_2" type="text" class="form-control" required></div>
            <div class="col-sm-4"><input type="file" id="image_1_2" name="image_1_2" accept=".jpg, .jpeg, .png" class="form-control"></div>
            <div class="col-sm-1"><input name="radio_1" value="2" type="radio" class="form-check-input mt-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-7"><input name="answer_1_3" type="text" class="form-control" required></div>
            <div class="col-sm-4"><input type="file" id="image_1_3" name="image_1_3" accept=".jpg, .jpeg, .png" class="form-control"></div>
            <div class="col-sm-1"><input name="radio_1" value="3" type="radio" class="form-check-input mt-0"></div>
        </div>
        <div class="button_centre" id="1"><input type="button" value="Додати вiдповiдь" onclick="add_answer(id=1);" class="btn btn-success"></div>
        <hr class="my-4">
        <div class="button_centre" id="new_question"><input type="button" value="Додати запитання" onclick="create_question_form();" class="btn btn-secondary"></div>
        <div class="button_centre"><input type="submit" id="submit_button" value="Зберегти" class="btn btn-primary"></div>
        <input type="hidden" id="total_answers_1" name="total_answers_1" value="3">
        <input type="hidden" id="total_questions" name="total_questions" value="1">
    </form>
</div>
{% endblock %}

{% block javascript %}<script src="/static/js/create_test.js"></script>{% endblock %}