{% extends 'main_template.html' %}

{% block style %}<link rel="stylesheet" href="static/css/index.css">{% endblock %}

{% block title %}Головна{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="row">
        {% for topic in topics %}
            <div class="col-sm-5">
                <form action="/select_topic_for_student" method="post">
                    <p></p>
                    <p class="topic_">{{ topic[1] }}</p>
                    <p>Час: {{ topic[2] }} хв</p>
                    <p>Питань: {{ topic[4] }}</p>
                    {% if topic[3] == 'closed' %}
                        <div class="status">Статус: <div class="close_topic">Закрито</div></div>
                        <div class="button_centre"><input type="submit" value="Почати" class="btn btn-primary" disabled></div>
                    {% endif %}
                    {% if topic[3] == 'open' %}
                        <div class="status">Статус: <div class="open_topic">Відкрито</div></div>
                        <div class="button_centre"><input type="submit" value="Почати" class="btn btn-primary"></div>
                    {% endif %}
                    <input name="topic_id" type="hidden" value="{{ topic[0] }}">
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}