{% extends 'main_template.html' %}

{% block style %}<link rel="stylesheet" href="static/css/index.css">{% endblock %}

{% block title %}Головна{% endblock %}

{% block content %}
<div class="custom_container">
    <form action="/select_topic">
    <input style="margin-bottom: 10px;" class="btn btn-info" type="submit" value="Створити тест">
</form>
<form action="/select_topic_for_student">
    <input class="btn btn-danger" type="submit" value="Пройти тест">
</form>
    <a href="/login">Авторизація</a>
    <a href="/admin_panel">Панель адміністратора</a>
</div>
{% endblock %}