{% extends 'main_template.html' %}

{% block style %}<link rel="stylesheet" href="static/css/select_topic_for_student.css">{% endblock %}

{% block title %}Обрати тему{% endblock %}

{% block content %}
<div class="custom_container">
    <form action="/testing" method="post">
        <div class="text">Прізвище та ім'я</div>
        <p></p>
        <input type="text" name="student_name" class="form-control" required>
        <div class="text">Назва групи</div>
        <p></p>
        <input type="text" name="group" class="form-control" required>
        <p></p>
        <div class="buttons"><input style="text-align: center;" type="submit" value="Почати" class="btn btn-primary"></div>
        <input name="topic" type="hidden" value="{{ topic }}">
    </form>
</div>
{% endblock %}