{% extends 'main_template.html' %}

{% block style %}<link rel="stylesheet" href="static/css/select_topic.css">{% endblock %}

{% block title %}Оберіть тему{% endblock %}

{% block content %}
<div class="custom_container">
    <form method="post" action="{{ url_for('new_test') }}">
        <div class="text_top">Оберiть тему тестування</div>
        <select style="margin-top: 10px;" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="select_topic">
            {% for value in table_list%}
                <option value="{{ value }}">{{ value }}</option>
            {%- endfor %}
        </select>
        <div class="text">або створiть нову</div>
        <div class="buttons">
            <input id="new_topic" type="button" class="btn btn-secondary" value="Створити" onclick="create_new_topic();">
            <input type="submit" class="btn btn-primary" value="Далi">
        </div>
        <input name="topic" type="hidden">
    </form>
</div>
{% endblock %}

{% block javascript %}<script src="/static/js/select_topic.js"></script>{% endblock %}