{% extends 'main_template.html' %}

{% block style %}<link rel="stylesheet" href="static/css/select_topic_for_student.css">{% endblock %}

{% block title %}Обрати тему{% endblock %}

{% block content %}
<div class="custom_container">
    <form action="{{ url_for('testing') }}" method="post">
        <div class="text">Ім'я та прізвище</div>
        <input type="text" name="student_name" class="form-control" required>
        <div class="text">Назва групи</div>
        <input type="text" name="group" class="form-control" required>
        <div class="text">Оберіть тему для проходження тесту</div>
        <select style="margin-top: 10px;" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="select_topic">
            {% for value in table_list%}
            <option value="{{ value }}">{{ value }}</option>
            {%- endfor %}
        </select>
        <div class="buttons"><input style="text-align: center;" type="submit" value="Далі" class="btn btn-primary"></div>
    </form>
</div>
{% endblock %}