{% extends 'main_template.html' %}

{% block style %}<link rel="stylesheet" href="static/css/testing.css">{% endblock %}

{% block title %}Тестування{% endblock %}

{% block content %}

<form action="process_test" method="post" enctype="multipart/form-data">
    {{topic}}

    {% for test in content %}
        <!--question-->
        {% if content[test][0] != 'NULL' %}
            {{ content[test][0] }}
        {% endif %}

        <!--question picture-->
        {% if content[test][1] != 'NULL' %}
            {{ content[test][1] }}
        {% endif %}

        {% for random_number in content[test][14] %}

            {% if content[test][random_number * 2] != 'NULL' %}
                <p>{{ content[test][random_number * 2] }}</p>
                <input type="radio"  name="radio_{{ test }}" value="{{ random_number }}">
            {% endif %}

            {% if content[test][(random_number * 2) + 1] != 'NULL' %}
                <img src="databases/img/{{ content[test][(random_number * 2) + 1] }}" alt="img">
            {% endif %}

        {% endfor %}

    {% endfor %}
    <input type="hidden" value="{{ test_ids }}" id="test_ids" name="test_ids">
    <input type="hidden" value="{{ topic }}" id="topic" name="topic">
    <input type="hidden" value="{{ group }}" name="group">
    <input type="hidden" value="{{ student_name }}" name="student_name">
    <input type="submit" value="Завершити тест">
</form>

{% endblock %}